.faq-accordion {
    background: rgb(38 53 65) !important;
}

.faq-accordion-text {
    color: #9b9b9b;
}

.faq-body {
    width: 80%;
}

.faq-subheader {
    color: #9b9b9b !important;
    font-size: 2rem;
    letter-spacing: .1rem;
}