.git-body {
    min-width: 50%;
    gap: 1rem;
    margin-bottom: 4rem;
}

@media (max-width: 1224px) {

    .git-body {
        min-width: 85%;
    }

}

.address-line, .address-line-hover {
    color: white
}

.address-line-hover:hover {
    color: #a6a6a6;
}