.home-wrapper {
    position: relative;
}

.spacer {
    background-size: cover;
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.layered-waves-1 {
    background-image: url("../../assets/layered-waves-1.svg");
}

.layered-waves-2 {
    background-image: url("../../assets/layered-waves-2.svg");
}

.layered-waves-3 {
    background-image: url("../../assets/layered-waves-3.svg");
}

.layered-waves-4 {
    background-image: url("../../assets/layered-waves-4.svg");
}

.layered-waves-5 {
    background-image: url("../../assets/layered-waves-5.svg");
}

.flip {
    transform: rotate(180deg);
}

.home-section-header {
    letter-spacing: 0.1rem;
    font-size: 2.5vw;
    gap: 1rem;
}

.home-section-subtitle {
    color: #b2becd;
    letter-spacing: .1rem;
}

.overlay-button {
    min-width: 10em !important;
    background-image: linear-gradient(to right, #f7770f, rgb(229, 48, 13));
    background-size: 300% 100%;
    transition: all .4s ease-in-out !important;
}

.overlay-button:hover {
    background-position: 100% 0;
}

.home-image-wrapper {
    border: 1px solid #f7770f;
}

@media (max-width: 1224px) {

    .home-section-header {
        justify-content: center;
        font-size: 5vw;
    }
}