.mot-lesson-body {
    gap: 2rem;
    flex-direction: row;
}

.mot-lesson-card-wrapper {
    transition: transform .3s;
    width: 345px;
}

.mot-lesson-card-wrapper:hover {
    transition: transform .3s;
    transform: translateY(-3px);
}

.mot-lesson-card-body {
    position: relative;
    background: rgba(0, 18, 32, 0.85);;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mot-lesson-card-p {
    color: #b2becd;
    transition: color 0.3s ease;
    white-space: pre-wrap;

}

.bhst-accordion {
    background: rgb(18, 31, 40) !important;
    margin-bottom: 1rem;
}

.card-hr {
    z-index: 2;
    border-bottom: 1px dashed #b2becd !important;
}

.mc-card-wrapper .mot-lesson-card-gradient-background {
    z-index: 1;
    position: absolute;
    top: -111px;
    height: 113px;
    width: 100%;
    left: 0;
    background: linear-gradient(90deg, rgba(247, 119, 15, 0.9), rgba(145, 61, 114, 0.9));
    transition: 0.5s ease;
}

.mot-lesson-card-wrapper .mot-lesson-card-gradient-background {
    z-index: 1;
    position: absolute;
    top: calc(100% - 5px);
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(90deg, rgba(247, 119, 15, 0.9), rgba(145, 61, 114, 0.9));
    transition: 0.5s ease;
}


.mc-card-wrapper:hover .mot-lesson-card-gradient-background {
    top: 0 !important;
}

.mot-lesson-card-wrapper:hover .mot-lesson-card-gradient-background {
    top: 0 !important;
}


.mot-lesson-card-wrapper:hover .mot-lesson-card-p,
.mc-card-wrapper:hover .mot-lesson-card-p {
    transition: color 0.3s ease;
    color: white;
}

.price-tag-purple {
    color: white;
    background: #ad3781 none;
    padding: 0 4px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 38%);
}

.mc-card-wrapper:hover .price-tag-purple {
    transition: 0.3s ease;
    background: #b00d74 none;
}

.price-tag-orange {
    color: white;
    background: #f6740f none;
    padding: 0 4px;
    border-radius: 3px;
}

.mc-card-wrapper:hover .price-tag-orange {
    transition: 0.3s ease;
    background: rgb(229, 48, 13) none;
}

.price-subtitle {
    transition: color 0.3s ease;
    z-index: 2;
    color: #b2becd;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.mc-card-wrapper:hover .price-subtitle {
    color: white;
}

@media (max-width: 1224px) {
    .mot-lesson-card-wrapper {
        width: 100%;
    }

    .mot-lesson-body {
        flex-direction: column !important;
        width: 85%;
    }
}