.mot-lesson-body {
    gap: 2rem;
    flex-direction: row;
}

.mot-lesson-card-wrapper {
    transition: transform .3s;
    width: 345px;
}

.mot-lesson-card-wrapper:hover {
    transition: transform .3s;
    transform: translateY(-3px);
}

.mot-lesson-card-body {
    position: relative;
    background: rgba(0, 18, 32, 0.85);;
    color: white;
}

.mot-lesson-card-p {
    color: #b2becd;
    transition: color 0.3s ease;
}

.mot-lesson-card-gradient-background {
    z-index:1;
    position:absolute;
    top:calc(100% - 5px);
    height:100%;
    width:100%;
    left:0;
    background:linear-gradient(90deg,#f7770f, #913d72);
    transition:0.5s ease;
}

.mot-lesson-card-wrapper:hover .mot-lesson-card-gradient-background {
    top:0;
}

.mot-lesson-card-wrapper:hover .mot-lesson-card-p {
    transition: color 0.3s ease;
    color: white;
}

@media (max-width: 1224px) {
    .mot-lesson-card-wrapper {
        width: 100%;
    }

    .mot-lesson-body {
        flex-direction: column !important;
        width: 85%;
    }
}