.footer {
    background: #363636 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    color: #a6a6a6;
}

.footer-text:hover {
    color: white;
}

.footer-copyright {
    color: #a6a6a6;
    margin-top: 1rem;
    font-size: 0.7rem;
}

.link {
    font-weight: bold;
    color: #a6a6a6;
}

.link:hover {
    color: white;
}