.home-wrapper {
    position: relative;
    background: #001220;
}

.hero {
    height: 100vh;
    position: relative;
    background: linear-gradient(270deg, rgba(0,0,0,0.9) 19%, rgba(59,59,59,0.9) 54%, rgba(107,107,107,0.9) 100%);
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-overlay {
    background: rgb(47,47,47);
    background: linear-gradient(0deg, rgba(0,17,34,1) 22%, rgba(0,35,70,1) 75%, rgba(0,41,82,0.7) 100%);

    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;
}

.overlay-contact {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.overlay-button {
    min-width: 10em !important;
    background-image: linear-gradient(to right, #f7770f, rgb(229, 48, 13));
    background-size: 300% 100%;
    transition: all .4s ease-in-out !important;
}

.overlay-button:hover {
    background-position: 100% 0;
}

.arrow-down-overlay {
    background: white !important;
    position: absolute !important;
    color: black !important;
    bottom: -20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1px;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: #001122;
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layered-waves-1 {
    background-image: url("../assets/layered-waves-1.svg");
}

.meet-debbie-wrapper {
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meet-debbie-header {
    letter-spacing: 0.1rem;
    font-size: 2.5vw;
    gap: 1rem;
}


.meet-debbie-body {
    max-width: 40%;
}

.meet-debbie-text {
    letter-spacing: 0.05rem;
}

.text-bg {
    color: white;
    background-image: linear-gradient(90deg,#f7770f, #8a2c67);
    padding: 0 4px;
    border-radius: 3px;
}

.layered-waves-2 {
    background-image: url("../assets/layered-waves-2.svg");
}

.flip {
    transform: rotate(180deg);
}



@media (max-width: 1224px) {
    .hero {
        height: 80vh;
    }

    .hero-overlay {
        width: 95%;
        top: 60%;
        left: 50%;
        background: linear-gradient(90deg, rgba(0,17,34,0.8) 22%, rgba(0,35,70,0.8) 75%, rgba(0,41,82,0.7) 100%);
        padding-block: unset;
    }

    .overlay-contact {
        flex-direction: column;
    }

    .wave svg {
        width: calc(100% + 1.3px);
        height: 53px;
    }

    .meet-debbie-wrapper {
        flex-direction: column;
    }

    .meet-debbie-header {
        justify-content: center;
        font-size: 5vw;
    }

    .meet-debbie-body {
        max-width: unset;
    }
}
