.home-wrapper {
    position: relative;
}

.hero {
    width: 100%;
    position: relative;
    background: linear-gradient(270deg, rgba(0,0,0,0.9) 19%, rgba(59,59,59,0.9) 54%, rgba(107,107,107,0.9) 100%);
}

.hero-overlay {
    background: rgb(47,47,47);
    background: linear-gradient(0deg, rgba(0,17,34,1) 22%, rgba(0,35,70,1) 75%, rgba(0,41,82,0.7) 100%);

    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;
}

.overlay-button {
    min-width: 10em !important;
    background-image: linear-gradient(to right, rgba(228,162,56,1), rgba(223,75,47,1));
    background-size: 300% 100%;
    transition: all .4s ease-in-out !important;
}

.overlay-button:hover {
    background-position: 100% 0;
}

.arrow-down-overlay {
    background: white !important;
    position: absolute !important;
    color: black !important;
    bottom: -20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1px;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: #001122;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layered-waves {
    background-image: url("../assets/layered-waves-haikei.svg");
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}


@media (max-width: 1224px) {
    .hero-overlay {
        width: 95%;
        top: 60%;
        left: 50%;
        background: linear-gradient(90deg, rgba(0,17,34,0.8) 22%, rgba(0,35,70,0.8) 75%, rgba(0,41,82,0.7) 100%);
        padding-block: unset;
    }
    .wave svg {
        width: calc(100% + 1.3px);
        height: 53px;
    }
}
