@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

html {
    overflow-y: auto !important;
}


::-webkit-scrollbar {
    background-color: unset;
    width: 5px !important;
}

::-webkit-scrollbar-thumb { /* Foreground */
    background: #d56d2d !important;
    border-radius: 5px;
}

div::-webkit-scrollbar-track { /* Background */
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track { /* Background */
    background: #001220;
}

body {
    margin: 0;
    background: #001220;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pd-7 {
    padding-top: 6rem !important;
}

.orange-color-text {
    color: #f8740c !important;
}

.page-header {
    letter-spacing: 0.1rem;
    font-size: 3rem !important;
}

.text-align-start {
    text-align: start !important;
}

.full-width {
    width: 100%;
}

.gap-1 {
    gap: 0.5rem;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}