.mc-section {
    text-align: center;
}

.mc-header {
    letter-spacing: 0.1rem;
    font-size: 3rem !important;
}

.mc-section-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
}

.mc-card-wrapper {
    width: 40%;
    min-height: 70vh;
    max-height: 70vh;
}

.mot-tab-panel {
    flex-grow: 1 !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.mot-location-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.guide-link {
    font-weight: bold;
    color: #e1e1e1;
}

.guide-link:hover {
    color: white;
}

.box-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.boxed-p {
    border: 2px solid rgba(178, 190, 205, 0.23);
    padding: 0.5rem;
}

@media (min-width: 1537px) {
    .mc-card-wrapper {
        min-height: 40vh;
        max-height: 40vh;
    }
}

@media (max-width: 1224px) {

    .mc-section-body {
        flex-direction: column;
        align-items: center;
    }

    .mc-card-wrapper {
        width: 90% !important;
    }

    .box-container {
        flex-direction: column;
    }
}